#unique {

    background-color: lightblue;
padding: 20px;
color: darkblue;
border: 2px solid darkblue;
}


.common {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 20px;
    color: darkgreen;
    border: 2px solid darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    text-decoration: underline overline;
}


div {
    width: 200px;
    height: 100px;
padding: 50px;
margin: 50px;
    border: 1px solid black;
}

p{
border: 1px solid salmon;


}